@font-face {
  font-family: "sansa";
  src: url("/fonts/sans.ttf") format("ttf")
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.normalIcon {
  height: 18px !important;
  width: 18px !important;
  padding: 3px !important;
}

.padding3 {
  padding: 3px;
}

.borderRight {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.borderLeft {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.height100 {
  height: 100% !important;
}

.parent_container {
  display: flex;
  height: 100vh;
}

.r_side {
  flex: 0.25;
  position: sticky;
}

.l_side {
  flex: 5;
  position: relative;
}

.full-content {
  height: 100vh;
}

.sidebar {
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  direction: rtl;
}

.main {
  display: flex;
  flex-direction: column;
}


.scroll1::-webkit-scrollbar {
  width: 2px;
}

.scroll1::-webkit-scrollbar-track {
  background: #fff;
}

.scroll1::-webkit-scrollbar-thumb {
  background: #ccc;
}
.chatuser-layout {
  display: flex;
  flex-direction: row;
}
